<template>
	<div>
		<section class="content-header">
			<h1>
				Farmacias
				<small>Nota Ingreso Almacen</small>
			</h1>
			<ol class="breadcrumb">
                <li><a href="restaurar"><i class="fa fa-dashboard"></i> Inicio</a></li>
                <li class="active">Nota Ingreso Almacen</li>
            </ol>
		</section>

		<!-- Cuerpo del contenido -->
		<section class="content container-fluid">
			<div class="box box-default" id="cuerpo_factura" style="display: none;"><!-- style="display: none;" -->
				<div class="box-body" style="padding: 1%;">
					<div class="row">
						<div class="col-xs-8">
							<table style="width:100%;">
								<tr>
									<td>ss</td>
								</tr>
							</table>
							<h1>sss</h1>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</template>